.tutorials {
    padding: 2rem 20rem 2rem;
    color: black;
    background: white;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.tutorials h1 {
    font-size: 40px;
    margin-top: 0;
}

.clip {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0rem;
}
.clip iframe {
    width: 100%;
    height: 100%;
}

.clip_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0rem 1rem;
}

.image {
    display: flex;
    flex-direction: row;
}

.image img {
    width: 100%;
    height: 100%;
}

.textdiv {
    padding: 1rem;
    text-align: left;
    font-size: large;
}
.textdiv h2 {
    margin-bottom: 1rem;
}

.textdiv p {
    font-size: 22px;
}

.textdiv ol {
    padding-left: 2rem;
}

.textdiv li {
    font-size: 22px;
}

@media screen and  (max-width : 1600px) {
    .tutorials {
        padding: 2rem  10rem ;
    }
}

@media screen and  (max-width : 1450px) {
    .tutorials {
        padding: 2rem  8rem ;
    }
}

@media screen and  (max-width : 1100px) {
    .tutorials {
        padding: 2rem  5rem ;
    }
}

@media screen and  (max-width : 950px) {
    .tutorials {
        padding: 2rem  4rem ;
    }
}


@media screen and (max-width:800px) {
    .tutorials {
        padding: 2rem 6rem 2rem;
    }
    .textdiv p {
        font-size: 20px;
    }
    .textdiv li {
        font-size: 20px;
    }
}

@media screen and (max-width:700px) {
    .tutorials {
        padding: 2rem 4rem 2rem;
    }
    .tutorials h1{
        font-size: 35px;
    }
}

@media screen and (max-width:600px) {
    .tutorials {
        padding: 2rem 3rem 2rem;
    }
    .textdiv h2{
        font-size: 28px;
    }
    .clip_item h2{
        font-size: 22px;
    }
    .textdiv p {
        font-size: 18px;
    }
    .textdiv li {
        font-size: 18px;
    }
}

@media screen and (max-width:500px) {
    .tutorials {
        padding: 2rem 2rem 2rem;
    }
    .tutorials h1 {
        font-size: 32px;
    }
    .textdiv {
        padding: 1rem 0rem;
    }
    .textdiv h2{
        font-size: 26px;
        margin-top: 1rem;
    }
    .clip_item h2{
        font-size: 20px;
    }
    .textdiv p {
        font-size: 16px;
    }
    .textdiv li {
        font-size: 16px;
    }
}

@media screen and (max-width:400px) {
    .tutorials h1 {
        font-size: 28px;
    }
  }