.container {
  text-align: center;
  display: flex;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  color: white;
  
}

.form-container {
  /*background-image: linear-gradient(79deg, #7439db, #C66FBC 48%, #F7944D);*/
  /* ff 3.6+ */
  background:-moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
  
  /* safari 5.1+,chrome 10+ */
  background:-webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

  /* opera 11.10+ */
  background:-o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

  /* ie 10+ */
  background:-ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

  /* global 92%+ browsers support */
  background:radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

  padding: 1rem 5rem;
  /*border: 1px solid white;
  border-radius: 10px;*/
  margin: 0.5rem;
}

.form-container,  .register-form {
  display: flex;
  flex-direction: column;
}

/*@media screen and (min-width: 600px) {
  .form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}*/

label {
  text-align: left;
  padding: 0.25rem 0;
}

.register-form input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

.form_container button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}