.theory {
    padding: 2rem 20rem ;
    color: black;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.theory h2{
    color: black;
    font-size: 30px;
}
.theory h1 {
    margin-top: 0;
    font-size: 40px;
}

.imageTh {
    display: flex;
}

.imageTh img {
    width: 100%;
    height: 100%;
}

.textdivTh {
    padding: 1rem;
    text-align: left;
}
.textdivTh p {
    font-size: 22px;
}
.textdivTh h2 {
    margin-bottom: 1rem;
}


@media screen and  (max-width : 1600px) {
    .theory {
        padding: 2rem  10rem ;
    }
}

@media screen and  (max-width : 1450px) {
    .theory {
        padding: 2rem  8rem ;
    }
}

@media screen and  (max-width : 1100px) {
    .theory {
        padding: 2rem  5rem ;
    }
}

@media screen and  (max-width : 950px) {
    .theory {
        padding: 2rem  4rem ;
    }
}



@media screen and (max-width:800px) {
    .theory {
        padding: 2rem 6rem 2rem;
    }

    .textdivTh p {
        font-size: 20px;
    }
}

@media screen and (max-width:700px) {
    .theory {
        padding: 2rem 4rem 2rem;
    }
    .theory h1{
        font-size: 35px;
    }
}

@media screen and (max-width:600px) {
    .theory {
        padding: 2rem 3rem 2rem;
    }
    .textdivTh h2{
        font-size: 28px;
    }
    .para  {
        font-size: 18px;
        margin: 0;
    }
}

@media screen and (max-width:500px) {
    .theory {
        padding: 2rem 2rem 2rem;
    }
    .theory h1 {
        font-size: 32px;
    }
    .textdivTh {
        padding: 1rem 0rem;
    }
    .textdivTh h2{
        font-size: 26px;
        margin-top: 1rem;
    }
    .textdivTh p {
        font-size: 18px;
    }
}

@media screen and (max-width:400px) {
    .theory h1 {
        font-size: 28px;
    }
  }