

 body {
   box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: var(--color-bg);
 }

 a {
    color: unset;
    text-decoration: none;
  }

 .App{
    display: flex;
    flex-direction: column;
  } 
 .App-second {
   min-height:100vh;
   display: flex;
   flex-direction: column;
   justify-content:space-between;
   background-color: #fff;
 }
 
 nav {
  transition: 0.3s ease-in-out;
}
nav.sticky {
  box-shadow: 0px 5px 10px rgba(0,0,0,0.6);
  position: sticky;
  top: 0;
  z-index: 100;
}

.Clasic {
  display: flex;
  flex-direction: column;
}

.Page {
  padding: 0rem 0 0rem;
}
.fulNav {
  background-color: var(--color-footer);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fulNav p{
  padding: 0.4rem;
  margin: 0;
}

.fulNavdiv{

}

.cqc__fulNavP{
  color: #FF4820;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  text-transform: capitalize;
  cursor: pointer;
}

.cqc__fulNavP2 {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-transform: capitalize;
  cursor: pointer;
}

 




 